[submodule "third_party/iceoryx2"]
	path = third_party/iceoryx2
	url = https://github.com/eclipse-iceoryx/iceoryx2.git
[submodule "third_party/ascii-video-renderer"]
	path = third_party/ascii-video-renderer
	url = https://github.com/tb5z035i/ascii-video-renderer.git
[submodule "external/rollio"]
	path = external/rollio
	url = git@github.com:tb5z035i/rollio.git
[submodule "third_party/airbot-play-rust"]
	path = third_party/airbot-play-rust
	url = https://github.com/tb5z035i/airbot-play-rust.git
[submodule "third_party/rvl-rust"]
	path = third_party/rvl-rust
	url = git@github.com:tb5z035i/rvl-rust.git
[submodule "third_party/pyAgxArm"]
	path = third_party/pyAgxArm
	url = https://github.com/agilexrobotics/pyAgxArm.git
[submodule "third_party/librealsense"]
	path = third_party/librealsense
	url = https://github.com/realsenseai/librealsense.git
[submodule "third_party/Fast-DDS"]
	path = third_party/Fast-DDS
	url = https://github.com/eProsima/Fast-DDS.git
[submodule "third_party/foonathan_memory"]
	path = third_party/foonathan_memory
	url = https://github.com/foonathan/memory.git
